---
import Layout from "@/layouts/BlankLayout.astro";
import { Button } from "@/components/ui/button";
const { title, page, user } = Astro.props;
---

<Layout title={title}>
    <main class="bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-primary-500 via-surface-700 to-surface-700 h-screen flex items-center">
        <div class="mx-auto max-w-xl text-center">
            <h1 class="font-black text-5xl">{title}</h1>
            <p class="mb-7 mt-3">Sorry, we couldn't find what you were looking for. It either never existed, or we've messed something up!</p>
            <div class="flex items-center place-content-center gap-3">
                {
                    (page && page == "btu" && (
                        <a href={"/" + user} data-astro-reload>
                            <Button variant="outline" className="!border-surface-100 text-surface-100 p-4 font-bold w-full">
                                Back to User
                            </Button>
                        </a>
                    )) || (
                        <a href="/" data-astro-reload>
                            <Button variant="outline" className="!border-surface-100 text-surface-100 p-4 font-bold w-full">
                                Back to home
                            </Button>
                        </a>
                    )
                }
            </div>
        </div>
    </main>
</Layout>
