---
import DetailBlockGrid from "@/components/DetailBlockGrid.astro";
import ScrollingTestimonials from "@/components/Testimonials";
import Container from "@/components/container.astro";
import Cta from "@/components/cta.astro";
import FeatureGrid from "@/components/feature-grid.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Timeline, timelineItems } from "@/components/timeline";
import MeetTheCo from "@/components/MeetTheCo";
---

<Layout footerMargin={false} title="Build Your Brand Presence | Doras.to">
    <div class="mx-auto min-h-screen flex items-center justify-center py-9 z-0">
        <Hero />
    </div>
    <Container>
        <ScrollingTestimonials client:load />
        <FeatureGrid />
        <h2 id="roadmap" class="text-center font-bold text-6xl mt-9 mb-3 text-surface-950">Roadmap</h2>
        <Timeline items={timelineItems} />
        <MeetTheCo client:load />
        <!-- <DetailBlockGrid /> -->
        <!-- <Logos /> -->
        <!-- <FeatureAlt id="features" />
    </Container>
    <StackedCardTestimonials /> -->
        <!-- <Container>
    <FeatureGrid />
    <Features />
  </Container> -->
        <Cta />
    </Container>
</Layout>
