---
import DetailBlockGrid from "@/components/DetailBlockGrid.astro";
import ScrollingTestimonials from "@/components/Testimonials";
import Container from "@/components/container.astro";
import Cta from "@/components/cta.astro";
import FeatureGrid from "@/components/feature-grid.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout footerMargin={false}>
    <div class="mx-auto min-h-screen flex items-center justify-center py-9 z-0">
        <Hero />
    </div>
    <Container>
        <ScrollingTestimonials client:load />
        <FeatureGrid />
        <!-- <DetailBlockGrid /> -->
        <!-- <Logos /> -->
        <!-- <FeatureAlt id="features" />
    </Container>
    <StackedCardTestimonials /> -->
        <!-- <Container>
    <FeatureGrid />
    <Features />
  </Container> -->
        <Cta />
    </Container>
</Layout>
