---
import TestButton from "@/components/linkspage/testbutton";
import { Button } from "@/components/ui/button";
import { Dialog, DialogContent, DialogHeader, DialogTitle, DialogTrigger } from "@/components/ui/dialog";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="test">
    <main class="max-w-xl mx-auto py-9 text-center">
        <h1>test</h1>
        <TestButton client:load />
    </main>
</Layout>
