---
import Layout from "@/layouts/WaitlistLayout.astro";
---

<Layout title="User Not Found">
    <div class="mx-auto min-h-screen flex items-center justify-center py-9 z-0">
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-6xl font-bold mb-2 text-surface-900">Hmmmmm,</h1>
            <p class="text-lg mb-2 text-surface-900">There doesn't seem to be a user by that name.</p>
            <a href="/" class="text-lg px-3 py-1 rounded-xl bg-surface-900 hover:bg-surface-900/50 text-white">Go back home</a>
        </div>
    </div>
</Layout>
