---
const { color = "DEFAULT", size = "md", class: className } = Astro.props;
import { Button } from "@/components/ui/button";

const colors = {
    DEFAULT: "bg-primary-500",
    indigo: "bg-indigo-50",
    purple: "bg-purple-50",
    brand: "bg-primary-500"
};
---

<div class:list={["rounded-2xl p-8 bg-gray-50 transition-all shadow hover:shadow-2xl", className]}>
    <div class:list={["overflow-hidden flex items-start justify-center h-auto relative", size === "sm" ? "lg:h-60" : "lg:h-80"]}>
        <div class=""></div>
        <slot name="image" />
    </div>
    <div class="mt-2 flex flex-col">
        <h3 class="text-xl lg:text-2xl font-medium mt-2"><slot name="title" /></h3>
        <p class="text-slate-600 mt-2 [text-wrap:balance]"><slot name="desc" /></p>
        <Button variant="outline" className="mt-4 border-surface-900 text-surface-900 hover:text-teal-50 bottom-0" name="cta"><slot name="cta" /></Button>
    </div>
</div>
