---
const { color = "DEFAULT", size = "md", class: className } = Astro.props;
import { JoinWaitlist } from "@/components/JoinWaitlist";

const colors = {
    DEFAULT: "bg-primary-500",
    indigo: "bg-indigo-50",
    purple: "bg-purple-50",
    brand: "bg-primary-500"
};
---

<div class:list={["rounded-2xl p-8 bg-gray-50 transition-all shadow hover:shadow-2xl flex flex-col", className]}>
    <div class="overflow-hidden flex items-start justify-center h-auto relative flex-grow">
        <slot name="image" />
    </div>
    <div class="mt-2 flex flex-col flex-grow">
        <h3 class="text-xl lg:text-2xl font-medium mt-2"><slot name="title" /></h3>
        <p class="text-slate-600 mt-2 [text-wrap:balance] flex-grow"><slot name="desc" /></p>
        <JoinWaitlist text="Sign Up" variant="outline" className="border-2 border-surface-900 text-surface-900 hover:text-surface-50" client:load />
    </div>
</div>
