---
import Link from "./ui/link.astro";
---

<div class="bg-gradient-to-bl from-primary-500 to-primary-300 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">Join the waitlist</h2>
    <p class="text-white/60 mt-4 text-lg md:text-xl">Sign up and get early access before we launch!</p>
    <div class="flex mt-5">
        <Link href="#" style="inverted">Join the waitlist</Link>
    </div>
</div>
