---
// import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/navbar/navbar.astro";
import { GoogleAnalytics } from "astro-google-analytics";
import "@fontsource-variable/inter/index.css";
import Footer from "@/components/ui/footer.astro";

export interface Props {
    title?: string;
    footerMargin?: boolean;
}

const canonicalURL = "";
// new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = "opengraph.jpg";
//  new URL("/opengraph.jpg", Astro.site).toString();

const { title, footerMargin = true } = Astro.props;

// const makeTitle = title ? title + " | " + "doras.to" : "doras.to - For the dreamers and the doers";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <script defer data-domain="doras.to" src="https://plausible.ops.gezel.io/js/script.js"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <!-- Google and MSFT stuff -->
        <GoogleAnalytics id="G-EDXTK3TC8Y" />
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "jo9od2l0vk");
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
        <SEO
            title={title}
            description="Elevate your brand with Doras.to – the all-in-one solution for social media presence. Link in bio, link shortener, media kit features, and more. Say goodbye to Linktree and Beacons.ai limitations. Embrace limitless possibilities."
            openGraph={{
                basic: {
                    title: "Build Your Brand Precense | Doras.to",
                    type: "A type.",
                    image: "/assets/icon.png"
                }
            }}
            twitter={{
                creator: "@doras_to"
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/icon.svg" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "/assets/icon.png"
                    },
                    { name: "twitter:title", content: "Doras - For The Dreamers And The Doers" },
                    { name: "twitter:description", content: "Elevate your brand with Doras.to – the all-in-one solution for social media presence. Link in bio, link shortener, media kit features, and more. Say goodbye to Linktree and Beacons.ai limitations. Embrace limitless possibilities." }
                ]
            }}
        />
        <style is:global>
            /* Improve Page speed */
            /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
            img {
                content-visibility: auto;
            }
        </style>
        <ViewTransitions />
    </head>
    <body class="bg-gradient-to-bl from-sky-100 to-indigo-100">
        <div class="sticky top-2 z-50">
            <Navbar />
        </div>
        <div class="z-0">
            <slot />
        </div>
        <div class="py-3">
            <Footer />
        </div>
    </body>
</html>
