---
// import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/navbar/navbar.astro";

import "@fontsource-variable/inter/index.css";

export interface Props {
    title?: string;
    footerMargin?: boolean;
}

const canonicalURL = "";
// new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = "opengraph.jpg";
//  new URL("/opengraph.jpg", Astro.site).toString();

const { title, footerMargin = true } = Astro.props;

const makeTitle = title ? title + " | " + "doras.to" : "doras.to - For the dreamers and the doers";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
        <SEO
            title="Doras - Create a beautiful link in bio page for you or your business"
            description="Take your social media presence and brand image to new heights with our outstanding link in bio tool. Forget about paying for beacons.ai or linktr.ee."
            openGraph={{
                basic: {
                    title: "Create a beautiful link in bio page for you or your business",
                    type: "A type.",
                    image: "/assets/icon.png"
                }
            }}
            twitter={{
                creator: "@doras_to"
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/icon.svg" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "/assets/icon.png"
                    },
                    { name: "twitter:title", content: "Doras - For the dreamers and the doers" },
                    { name: "twitter:description", content: "Take your social media presence and brand image to new heights with our outstanding link in bio tool. Forget about paying for beacons.ai or linktr.ee." }
                ]
            }}
        />
        <style is:global>
            /* Improve Page speed */
            /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
            img {
                content-visibility: auto;
            }
        </style>
        <ViewTransitions />
    </head>
    <body class="bg-gradient-to-bl from-sky-100 to-indigo-100">
        <div class="sticky top-2 z-50">
            <Navbar />
        </div>
        <slot />
        <!-- <Footer margin={footerMargin} /> -->
    </body>
</html>
