---
const { color = "DEFAULT", class: className } = Astro.props;

const colors = {
    DEFAULT: "bg-gray-100 border-gray-200 border text-gray-800",
    indigo: "bg-indigo-100 border-indigo-200 border text-indigo-600",
    orange: "bg-orange-100 border-orange-200 border text-orange-600",
    purple: "bg-purple-100 border-purple-200 border text-purple-600"
};
---

<span class:list={[colors[color], className, "rounded-full text-xs font-medium px-3 py-1 "]}>
    <slot />
</span>
