---
interface Props {
    href: string;
    size?: "md" | "lg" | "sm";
    block?: boolean;
    style?: "outline" | "primary" | "inverted" | "muted";
    class?: string;
    [x: string]: any;
}

const { href, block, size = "lg", style = "primary", class: className, ...rest } = Astro.props;

const sizes = {
    lg: "px-7 py-2.5",
    md: "px-5 py-2",
    sm: "px-4 py-2 text-sm"
};

const styles = {
    outline: "bg-white border-2 border-primary-500 hover:bg-primary-50 text-primary-500 ",
    primary: "bg-primary-600 text-white hover:bg-primary-800",
    inverted: "bg-white text-primary-800 border-2 border-transparent",
    muted: "bg-gray-100 hover:bg-gray-200   border-2 border-transparent"
};
---

<a href={href} {...rest} class:list={["rounded-full text-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-500 focus-visible:outline-none focus-visible:shadow-outline-primary", block && "w-full", sizes[size], styles[style], className]}><slot /></a>
